/*
 * CSS styling related to events section
 */

@import 'variables';

/**
 * Box-shadow on white square
 */
.about-us #left-content {
    box-shadow: 7px 7px 50px #000;
}
.about-us #right-content {
    box-shadow: 20px 0 40px -20px #000;
}

/**
 * Left Side Content
 */
.about-us h1 {
    color: black;
    font-size: 3vw;
}
@media (min-width: 768px) and (max-width: 1200px) {
    .about-us h1 {
        font-size: 6vw !important;
    }
}
.about-us p {
    color: black;
    line-height: 200%;
}

/**
 * Right Side Content
 */ 
.about-us-image {
    width: 90%;
    height: auto;
}
@media (min-width: 900px) and (max-width: 1200px) {
    .about-us-image {
        width: 100%;
        height: auto;
    }
}