@import 'variables';

#accommodation h1,
#accommodation h2,
#accommodation h4,
#accommodation p,
#accommodation .cards {
    color: #000;
}

#accommodation p {
    line-height: 250%;
}

#accommodation .cottage-img {
    width: 100%; 
}

#accommodation .card-header {
    color: #FFF;
    background-color: $lion-purple;
    font-size: 30pt;
}

#accommodation .card-body p {
    font-size: 10pt;
}

#accommodation .card {
    border: none;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}
