/*
    FONTS USED IN WEBSITE
    Just assign a HTML tag one of these classes
    E.g. <div class="montserrat">...</div>
 */

// Most standard text
.montserrat {
    font-family: 'Montserrat', sans-serif;
}

// Titles
.great-vibes {
    font-family: 'Great Vibes', cursive;
}

// The Lion Inn text
.algerian {
    font-family: 'Algerian Regular', sans-serif;
}
