/*
 * General styling for the whole site
 */

@import 'variables';

/*Set width of container to 1440px for screens wider than 1440px*/
// @media (min-width: 1440px) {
//     .container {
//         max-width: 1440px;
//     }
// }

// Temp replacement for above media qeury to see if it works
.container {
    max-width: 1440px;
}

// Clear margins and paddings
* {
    padding: 0;
    margin: 0;
}

/*
 * Initializers
 */
html {
  height: 100%;
}
body {
  min-height: 100%;
}
// Set all text color to white
.container {
    color: #FFF;
}

/*
 * General Stylings
 * Headings & Paragraphs
 */

// Headings
.main-heading {
    font-size: 12vmin;
}
.to {
    font-size: 1.5vmax;
}
.section-heading {
    font-size: 6vmax;
}
.minor-heading {
    font-size: 4vmax;
}
// Paragraphs
p {
    font-size: 9pt;
}
// Longer / Descriptive paragraphs in certain sections
.desc {
    line-height: 2.5;
}

// All buttons
.btn {
    background-color: $lion-purple;
    border: 1pt solid $lion-purple;
    border-radius: 0;
    color: #FFF;
}
