/*
 * HOME Specific Styling
 */

@import 'variables';

// Height set to 100vh so that whatever the screen size is, the home page intially fills it
.home {
    height: 100vh;
}
.home-bg-image {
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('./images/home-bg.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
}

// Navbar
nav a {
    font-size: 0.7vw;//9pt;
    color: #FFF;
    text-transform: uppercase;
}
nav a.enabled:hover {
    background-color: $lion-purple;
    border-radius: 0;
    color: #FFF !important;
}
nav .mobile-footer {
    display: none;
}
// When hamburger icon is clicked
// Set navbar bg to white
.clicked {
    background-color: #FFF !important;
}
.purple-hamburger {
    color: $lion-purple !important;
}

// Headings
.main-heading {
    font-size: 13vmin;
}
.to {
    font-size: 1.5vmax;
    overflow: hidden;
    text-align: center;
}
// Lines on either side of to
.to:before,
.to:after {
  background-color: #FFF;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 10%;
}
.to:before {
  right: 0.5em;
  margin-left: -50%;
}
.to:after {
  left: 0.5em;
  margin-right: -50%;
}


// Home page buttons
.phone-no {
    font-size: 19pt;
    border: 1pt solid $lion-purple;
}
// Cutlery icon and bed icon
.btn-transparent {
    background: rgba(0,0,0,0.3);
    border: 1pt solid #FFF;
}
// Font Awesome icons within buttons
.btn-icon {
    font-size: 15pt;
    color: #FFF;
}

// Arrow down at bottom of home section
.arrow i {
    font-size: 30pt;
}
