.btn {
  background-color: #673ab7;
  border: 1pt solid #673ab7;
  border-radius: 0;
  color: #FFF; }

.btn-transparent {
  background: rgba(0, 0, 0, 0.3);
  border: 1pt solid #FFF; }

.btn-icon {
  font-size: 15pt;
  color: #FFF; }
