/*
 * CSS styling related to events section
 */
/*
 * General
 */
.events {
  color: #000; }

.events .event-sub-heading {
  font-size: 15pt; }

.events .regular h3 {
  color: #673ab7; }

/*
 * Regular Events
 */
.events .regular .week-days-titles {
  color: #673ab7; }

.events .regular .nav-item a {
  height: 100px;
  border-left: 1px solid black;
  border-radius: 0px;
  border-top: none; }

.events .regular .nav-item a i {
  font-size: 35pt;
  color: black; }

.events .regular .nav-item a img {
  height: 50px;
  width: 50px; }

.events .regular .nav-item a:hover,
.events .regular .nav-item .active {
  background-color: #673ab7;
  border-right: 1px solid #673ab7;
  border-bottom: 1px solid #673ab7; }

.events .regular .nav-item a:hover i,
.events .regular .nav-item .active i,
.events .regular .nav-item a:hover img,
.events .regular .nav-item .active img {
  filter: brightness(0) invert(1);
  -webkit-filter: brightness(0) invert(1);
  color: #FFF; }

.events .regular .nav-item a#sunday-tab {
  border-right: 1px solid black; }

/*
 * Upcoming Events
 */
.events .upcoming .date .month {
  font-size: 12pt; }

.events .upcoming .date hr {
  width: 20%; }

.events .upcoming .date .day {
  font-size: 30pt; }

.events .upcoming .image .event-image {
  width: 100%; }

.events .upcoming .desc .event-title {
  color: #673ab7; }

.events .upcoming .info {
  line-height: 2; }

.events .upcoming .info hr {
  width: 10%; }

.events .upcoming .more p {
  color: #673ab7; }
