/*
 * CSS styling related to footer section
 */
.footer-bg {
  background-color: #000; }

/*
 * CONTACT
 */
.footer .contact i {
  font-size: 15pt; }

/*
 * COPYRIGHT
 */
.footer .copyright p {
  font-size: 6pt; }
