/*
 * CSS styling related to footer section
 */
.footer-bg {
  background-color: #000; }

/*
 * CONTACT
 */
.footer .contact a {
  color: #FFF; }

.footer .contact i {
  font-size: 15pt; }

.footer .contact p {
  font-size: 7pt; }

.footer .contact .nav-tabs {
  border: 0; }

.footer .contact .nav-tabs a {
  border: 0;
  background-color: #000; }

.footer .contact .nav-tabs .nav-link.show {
  color: #FFF !important; }

/*
 * COPYRIGHT
 */
.footer .copyright p {
  font-size: 6pt; }
