/*
 * General styling for the whole site
 */
.container {
  max-width: 1440px; }

* {
  padding: 0;
  margin: 0; }

/*
 * Initializers
 */
html {
  height: 100%; }

body {
  min-height: 100%; }

.container {
  color: #FFF; }

/*
 * General Stylings
 * Headings & Paragraphs
 */
.section-heading {
  font-size: 6vw; }

.minor-heading {
  font-size: 4vw; }

p {
  font-size: 9pt; }

.desc {
  line-height: 2.5; }

.btn {
  background-color: #673ab7;
  border: 1pt solid #673ab7;
  border-radius: 0;
  color: #FFF; }
