/*
 * HOME Specific Styling
 */
.home {
  height: 100vh; }

.home-bg-image {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./images/home-bg.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%; }

nav a {
  font-size: 0.7vw;
  color: #FFF;
  text-transform: uppercase; }

nav a.enabled:hover {
  background-color: #673ab7;
  border-radius: 0;
  color: #FFF !important; }

nav .mobile-footer {
  display: none; }

.clicked {
  background-color: #FFF !important; }

.purple-hamburger {
  color: #673ab7 !important; }

.main-heading {
  font-size: 13vmin; }

.to {
  font-size: 1.5vmax;
  overflow: hidden;
  text-align: center; }

.to:before,
.to:after {
  background-color: #FFF;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 10%; }

.to:before {
  right: 0.5em;
  margin-left: -50%; }

.to:after {
  left: 0.5em;
  margin-right: -50%; }

.phone-no {
  font-size: 19pt;
  border: 1pt solid #673ab7; }

.btn-transparent {
  background: rgba(0, 0, 0, 0.3);
  border: 1pt solid #FFF; }

.btn-icon {
  font-size: 15pt;
  color: #FFF; }

.arrow i {
  font-size: 30pt; }
