/*
 * Media Queries for whole site
 */
/*
 * FOOD Section
 */
@media (max-width: 576px) {
  .week-days .col-md-1,
  .week-days .col-sm-1,
  .week-days .col-lg-1,
  .week-days .col-1 {
    width: 100%;
    max-width: 14.285714285714285714285714285714% !important;
    flex: none !important; }
  .events .regular .nav-item a {
    height: 50px; }
  .events .regular .nav-item a i {
    font-size: 15pt;
    margin-top: 6px !important; }
  .events .regular .nav-item a img {
    height: 20px;
    width: 20px;
    margin-top: 6px !important; } }

@media (min-width: 576px) {
  .week-days .col-md-1,
  .week-days .col-sm-1,
  .week-days .col-lg-1,
  .week-days .col-1 {
    width: 100%;
    max-width: 14.285714285714285714285714285714% !important;
    flex: none !important; } }

@media (min-width: 768px) {
  .week-days .col-md-1,
  .week-days .col-sm-1,
  .week-days .col-lg-1,
  .week-days .col-1 {
    width: 100%;
    max-width: 14.285714285714285714285714285714% !important;
    flex: none !important; } }

@media (min-width: 992px) {
  .week-days .col-md-1,
  .week-days .col-sm-1,
  .week-days .col-lg-1,
  .week-days .col-1 {
    width: 14.285714285714285714285714285714%;
    max-width: 14.285714285714285714285714285714% !important;
    flex: none !important; } }

@media (min-width: 1200px) {
  .week-days .col-md-1,
  .week-days .col-sm-1,
  .week-days .col-lg-1,
  .week-days .col-1 {
    width: 14.285714285714285714285714285714%;
    max-width: 14.285714285714285714285714285714% !important;
    flex: none !important; } }
