/*
 * Media Queries for whole site
 */
/*
 * HOME Section
 */
@media (max-width: 576px) {
  .main-heading {
    font-size: 15vw; } }

@media (max-width: 1200px) {
  .btn-transparent, .btn-phone {
    width: 100%; } }

@media (max-width: 992px) {
  #navbarSupportedContent {
    background-color: #000;
    padding: 0;
    height: 100vh; }
  #navbarSupportedContent li a {
    color: #000;
    height: 11vh;
    font-size: 5vw;
    text-transform: none; }
  #navbarSupportedContent .collapse-white {
    color: #673ab7;
    background-color: #FFF; }
  #navbarSupportedContent .collapse-purple {
    color: #FFF;
    background-color: #673ab7; }
  #navbarSupportedContent .collapse-hide {
    visibility: hidden;
    height: 0;
    padding: 0; }
  #navbarSupportedContent .mobile-footer {
    display: block;
    background-color: #000; }
    #navbarSupportedContent .mobile-footer h3 {
      font-size: 8vw; }
    #navbarSupportedContent .mobile-footer i {
      font-size: 5vw; }
    #navbarSupportedContent .mobile-footer p {
      font-size: 2vw; } }

/*
 * EVENTS Section
 */
/*
 * Creating 7 equal width columns for REGULAR EVENTS section
 * 14% = 100% / 7
 */
@media (max-width: 576px) {
  .week-days .col-md-1,
  .week-days .col-sm-1,
  .week-days .col-lg-1,
  .week-days .col-1 {
    width: 100%;
    max-width: 14.285714285714285714285714285714% !important;
    flex: none !important; }
  .events .regular .nav-item a {
    height: 50px; }
  .events .regular .nav-item a i {
    font-size: 15pt;
    margin-top: 6px !important; }
  .events .regular .nav-item a img {
    height: 20px;
    width: 20px;
    margin-top: 6px !important; } }

@media (min-width: 576px) {
  .week-days .col-md-1,
  .week-days .col-sm-1,
  .week-days .col-lg-1,
  .week-days .col-1 {
    width: 100%;
    max-width: 14.285714285714285714285714285714% !important;
    flex: none !important; } }

@media (min-width: 768px) {
  .week-days .col-md-1,
  .week-days .col-sm-1,
  .week-days .col-lg-1,
  .week-days .col-1 {
    width: 100%;
    max-width: 14.285714285714285714285714285714% !important;
    flex: none !important; } }

@media (min-width: 992px) {
  .week-days .col-md-1,
  .week-days .col-sm-1,
  .week-days .col-lg-1,
  .week-days .col-1 {
    width: 14.285714285714285714285714285714%;
    max-width: 14.285714285714285714285714285714% !important;
    flex: none !important; } }

@media (min-width: 1200px) {
  .week-days .col-md-1,
  .week-days .col-sm-1,
  .week-days .col-lg-1,
  .week-days .col-1 {
    width: 14.285714285714285714285714285714%;
    max-width: 14.285714285714285714285714285714% !important;
    flex: none !important; } }

/*
 * MENU Section
 */
@media (max-width: 992px) {
  .menu-options h4 {
    font-size: 3.5vw !important; } }

@media (max-width: 576px) {
  .menu-items h3 {
    font-size: 3.5vw !important; }
  .menu-items p {
    font-size: 2.5vw !important; }
  .menu-items p.price {
    font-size: 3.5vw !important; } }

/*
 * Creating 5 equal width columns for the menu navigation
 * 20% = 100% / 5
 */
@media (max-width: 576px) {
  .menu-options .col-md-1,
  .menu-options .col-sm-1,
  .menu-options .col-lg-1,
  .menu-options .col-1 {
    width: 100%;
    max-width: 20% !important;
    flex: none !important; } }

@media (min-width: 576px) {
  .menu-options .col-md-1,
  .menu-options .col-sm-1,
  .menu-options .col-lg-1,
  .menu-options .col-1 {
    width: 100%;
    max-width: 20% !important;
    flex: none !important; } }

@media (min-width: 768px) {
  .menu-options .col-md-1,
  .menu-options .col-sm-1,
  .menu-options .col-lg-1,
  .menu-options .col-1 {
    width: 100%;
    max-width: 20% !important;
    flex: none !important; } }

@media (min-width: 992px) {
  .menu-options .col-md-1,
  .menu-options .col-sm-1,
  .menu-options .col-lg-1,
  .menu-options .col-1 {
    width: 20%;
    max-width: 20% !important;
    flex: none !important; } }

@media (min-width: 1200px) {
  .menu-options .col-md-1,
  .menu-options .col-sm-1,
  .menu-options .col-lg-1,
  .menu-options .col-1 {
    width: 20%;
    max-width: 20% !important;
    flex: none !important; } }
